@import "main";
.footer {
  background-color: $main-color-darkblue;
  padding: 64px 0;

  &__sitemap {
    margin-bottom: 64px;
    &__inner {
      width: 100%;
      max-width: 578px;
    }
  }
  &__sitemap__wrapper {
    @include flexSpaceBetween;
    align-items: flex-start;
  }
  &__sitemap__inner {
    @include flexSpaceBetween;
    align-items: flex-start;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    &:last-child {
      margin-right: 0;
    }
    &--item {
      margin-bottom: 10px;
      &:nth-of-type(1) {
        font-weight: 700;
        margin-bottom: 27px;
        line-height: 23px !important;
      }
    }
    &--link {
      position: relative;
      padding-bottom: .75em;
      @include textMixin(#fff, 17, 14, 35);
      text-decoration: none;
      @include hoverLink(#fff);
    }
  }
  .social {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    &--link {
      text-decoration: none;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__title {
      @include textMixin(#fff, 17, 22, 23);
      text-decoration: none;
      font-weight: 700;
    }
    &--img {
      width: 50px;
      height: 50px;

    }
  }
  &__copyright {
    @include flexSpaceBetween;
    &--link {
      text-decoration: none;
    }
    &--logo {
      width: 123px;
    }
    &--text {
      @include textMixin(#fff, 17, 0, 23);
      font-weight: 600;
    }
  }
}
